@import url('./reset.css');

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-Regular.woff2') format('woff2'),
		url('fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-Medium.woff2') format('woff2'),
		url('fonts/Inter-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-SemiBold.woff2') format('woff2'),
		url('fonts/Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-Bold.woff2') format('woff2'), url('fonts/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--white: #fff;
	--neutral-one: #f8fafc;
	--neutral-two: #f1f5f9;
	--neutral-three: #e2e8f0;
	--neutral-four: #cbd5e1;
	--neutral-five: #94a3b8;
	--neutral-six: #64748b;
	--neutral-seven: #475569;
	--neutral-eight: #334155;
	--neutral-nine: #1e293b;
	--neutral-ten: #0f172a;
	--brand-one: #e11d48;
}

body {
	font-family: 'Inter', sans-serif;
}
